<div class="device_container">
  <div class="device_input_field">
    <h2>アカウント</h2>
      
      <div class="field">
        <%= @user.email %>
      </div>

      <div class="field">
        <%= @user.password %>
      </div>

    

  </div>
</div>
