<div class="main-container">
  <div class="search-area-container">
    <div class="search-area">
      <p>Potepan Shareで<br>まだ体験したことのない旅をしよう</p>
      <div class="search-field">
        <%= render "shared/search" %>
      </div>
    </div>
  </div>
</div>
